{
"port": "3702",                     // Default port 3702
"hostname": "localhost",            // Loopback
"host": "database.hostname.com",    // Database location (aws endpoints should work)
"user": "user",                     // Database user
"password": "password",             // Database password
"database": "schema"                // Database schema
}

